<div class="example-boundary container" id='example-boundary' (drop)='loadImg($event)' #container appDragColor>
  <canvas id='example' #example width="200" height="200" #canvas>Refresh Browser</canvas>
  <div cdkDragBoundary=".example-boundary" cdkDrag id='imgContainer' 
  (cdkDragEnded)="onDragEnded($event)"
  (cdkDragStarted)="onDragStart()"
    (resized)="onResized($event)">
    <img src="{{src}}" alt="" id='img' cdkDragHandle>
  </div>
</div>

<div class="container container__bottom">
  <button mat-stroked-button (click)="fileInput.click()">
    <span>Select image</span>
    <input #fileInput type="file" (change)="loadImg($event)" style="display:none;" id='inp' accept="image/*" >
  </button> or drag <mat-icon class='icon'>double_arrow</mat-icon>



  <br>

  <button mat-stroked-button color="primary" (click)='cutImg()'>
    Save in pdf
  </button>
 
</div>